<h2>Liste de personnes</h2>
<form (ngSubmit)="ajouterPersonne()" #monForm=ngForm >
    <div>
        <label for="nom">Nom</label>
        <input type="text" id="nom" [(ngModel)]="personne.nom" name="nom" required minlength="2">
    </div>
    <div>
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" [(ngModel)]="personne.prenom" name="prenom" required minlength="2">
    </div>
    <button [disabled]="monForm.invalid">
        Ajouter
    </button>
</form>


<ul>
    <ng-container *ngFor="let elt of personnes">
        <app-details-personne [personne]="elt" (message)="supprimer($event)"></app-details-personne> 
    </ng-container>
</ul>